/* CSS for all */

* {
    font-family: Arial, Helvetica, sans-serif !important;
}


/* CSS for menu */

.nav-link {
    color: palevioletred !important;
    size: 2rem !important;
    font: bold;
}

.nav-link:hover {
    color: red !important;
}

h1 {
    color: white;
}

.card:hover {
    opacity: 0.6;
}

.card-group {
    padding: 5% 10%;
}

.card {
    margin: 5% 10%;
}

.card-footer {
    margin-top: 90%;
}

h2 {
    color: hotpink;
}

h3 {
    font-size: 1rem !important;
}


/* CSS for menu */

.menu {
    background-color: rgb(214, 214, 214);
}